.defecto {
  background-color: #D8D8D8;
}

.disponible {
  background-color: #2EFE2E;
}
.reservada {
  background-color: blue;
}
.reservada_senia {
  background-color: yellow;
}
.ocupada {
  background-color: red;
}